/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/

    background-image: url(assets/pexels-markusspiske-1089438.jpg);
    background-size: cover;
   --img-de-fundo: #8a8989;
   --cor-de-link: #000000;
   content: "";
   position: absolute;
   background-size: 50%;
   z-index: -1;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

.foto_menu{
    display: none;
}

#cerrar_menu{
    display: none;
}

#menu_hamburguesa{
    display: none;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/
.header{
    align-items: center;
    padding-bottom: 15px;
    border-radius: 15px;
    margin: 5px;
    display: flex;
    background-color: rgb(137, 137, 137);
    color: #000000;
    padding: 15px;
    
    
}



.menu__title{
  
}

.title__bio{
color: #00de07;
}

.menu{  
    max-width: 1200px;
    z-index: 1;
    position: fixed;
    margin: 05px;
    border-radius: 15px;
    align-items: center;
    gap:0%;
    display: flex;
    background-color: #00000084;
    text-wrap: nowrap;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    z-index: 1;
    width: 0px;
    height: 50px;
    border-radius: 8px;
    display: flex;
}

nav a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    z-index: 1;
}

nav span{
position: absolute;
top: 0;
left: 0;
width: 95px;
height: 100%;
background: linear-gradient(45deg, #4f1919, #11ce0088);
border-radius: 8px;
transition: .5s;
}

.menu__list__item{
    margin-left: 50px;

}

a{

color: #000000;
display: inline-block;
align-items: center;
}

a:hover{
    color: #00de07;
    justify-content: center;
    border-radius: 0.1px;
    transition: .5s;
    background-color: #000000;
    border-color: #9dff0088;
    box-shadow: 0 0 0 8px #11ce0088,
                0 0 0 22px #51ff0088;
                

               
    -webkit-box-reflect: below 1px linear-gradient (transparent, #0005,);
}

.title__profile{
    
    margin-left: 45px;
    margin-top: 80px;
    clip-path: circle(125px at center);
}


.title{

    background-image: url("add customer_print");
   background-attachment: fixed;

}


.skills__line{
    display: flex;
}

.skills__box{
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

.about__title{
    color: #878787;
    margin-bottom: 10px;
}

.title__container{
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    color: #878787;
    background-color: #000000a1;
}

a{
    color: #ffffff ;
    margin: 15px;
}

.about__container{
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    color: #ffffff;
    background-color: #000000a1;
}

.firma{
    margin: 10px;
}

.skills__title{
    margin-left: 180px;
    color: #00ff0dc9;
}


.skills__name{
color: #ffffff;
}

.divune{
    display: flex;
}

.skills{
    margin: 20px;
    margin-left: 10%;
    border-radius: 10px;
    height: 50vh;
    width: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000a1;
}

.skilltittle{
    color: #878787;
}

.container{
    perspective: 250px;
    width: 190px;
    height: 150px;
    position: relative;
}

.imagen{
   margin: 10px;
}

.targeta{ 
    width: 60px;
    height: 80px;
    background-color: #898989;
    font-size: 8px;
    position: absolute;
    top: 990px;
    left: 300px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    animation: Carrusel 8s linear infinite;
}

.container{
    margin-bottom: 25px;
}

.h4{
    
    margin: 0 1 15px 15px;
    letter-spacing: .5px;
}

span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #000000;
    font-weight: 500;
    font-size: 7px;
    line-height: 1.5;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(76, 175, 80, 1) 50%, rgba(50, 222, 132, 1) 100%);
    transition: width .5s linear;
    
}

.progress-bar{
    padding: 1.5px;
    margin: 4.5px;
    position: relative;
    width: 50px;
    height: 10px;
    border-radius: 30px;
    background-color: rgb(234, 6, 6);
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.75);
}


.skills__name{
    font-size: 10px;
}

@keyframes Carrusel
{
    from{
        transform: rotateY(360deg) translateZ(100px);
        z-index: 10;
        opacity: 0.9;
    }
    50%
    { 
        z-index: -10;
               
    }
to{
    transform: rotateX(0deg) translateZ(100px);
    z-index: 10;
}
}

#html5{
    background-image: url();
    background-size: cover;
    animation-delay: 1s;
}

#html5:hover{
    scale: 2;
box-shadow: 0px 0px 10px #00ff0dc9;
}

#Css{
    background-image: url();
    background-size: cover;
    animation-delay: 2s;
}

#Css:hover{
    scale: 2;
    box-shadow: 0px 0px 10px #00ff0dc9;
    }

#Javascript{
    background-image: url();
    background-size: cover;
    animation-delay: 3s;
}

#Javascript:hover{
    scale: 2;
    box-shadow: 0px 0px 10px #00ff0dc9;
    }

#Python{
        background-image: url();
        background-size: cover;
        animation-delay: 4s;
    }
    
#Python:hover{
        scale: 2;
        box-shadow: 0px 0px 10px #00ff0dc9;
        }

#Flutterflow{
    background-image: url();
    background-size: cover;
    animation-delay: 5s;
}

#Flutterflow:hover{
    scale: 2;
    box-shadow: 0px 0px 10px #00ff0dc9;
    }

#GitHub{
        background-image: url();
        background-size: cover;
        animation-delay: 6s;
    }
    
#GitHub:hover{
        scale: 2;
        box-shadow: 0px 0px 10px #00ff0dc9;
        }

#SQL{
    background-image: url();
    background-size: cover;
    animation-delay: 7s;
}

#SQL:hover{
    scale: 2;
    box-shadow: 0px 0px 10px #00ff0dc9;
    }

#Firebase{
        background-image: url();
        background-size: cover;
        animation-delay: 8s;
    }
    
#Firebase:hover{
        scale: 2;
        box-shadow: 0px 0px 10px #00ff0dc9;
        }

#Scrum{
    background-image: url();
    background-size: cover;
    animation-delay: 9s;
}

#Scrum:hover{
    scale: 2;
    box-shadow: 0px 0px 10px #00ff0dc9;
    }

#API{
        background-image: url();
        background-size: cover;
        animation-delay: 10s;
    }
    
#API:hover{
        scale: 2;
        box-shadow: 0px 0px 10px #00ff0dc9;
        }

.hobbies__title{
    margin-left: 260px;
    color: #878787;
}



.skills__name{
color: #ffffff;
}

.hobbies{
    margin: 10px;
    margin-left: 10%;
    border-radius: 10px;
    height: 50vh;
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000a1;
}

.hobbiestittle{
  
    color: #878787;
}

.hobbies__line{
    perspective: 250px;
    width: 300px;
    height: 150px;
    position: relative;
}
.targetas{
    
    width: 60px;
    height: 80px;
    background-color: #898989;
    font-size: 8px;
    position: absolute;
    top: 990px;
    left: 850px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    animation: Carrusell 8s linear infinite;
}


.hobbies__name{
    font-size: 10px;
}

@keyframes Carrusell
{
    from{
        transform: rotateY(360deg) translateZ(100px);
        z-index: 10;
        opacity: 0.9;
    }
    50%
    { 
        z-index: -10;
               
    }
to{
    z-index: 10;
    transform: rotateX(0deg) translateZ(100px);
}
}


#Atletismo{
    background-image: url();
    background-size: cover;
    animation-delay: 1.4s;
}

#Atletismo:hover{
    scale: 2;
    box-shadow: 0px 0px 10px #00ff0dc9;
    }

#Arte{
    background-image: url();
    background-size: cover;
    animation-delay: 2.8s;
}

#Arte:hover{
    scale: 2;
    box-shadow: 0px 0px 10px #00ff0dc9;
    }

#Aprender{
    background-image: url();
    background-size: cover;
    animation-delay: 4.2s;
}

#Aprender:hover{
    scale: 2;
    box-shadow: 0px 0px 10px #00ff0dc9;
    }

#Viajar {
    background-image: url(); /* Asegúrate de agregar la URL correcta */
    background-size: cover;
    animation-delay: 5.6s;
}

#Viajar:hover {
    scale: 2;
    box-shadow: 0px 0px 10px #00ff0dc9;
}

#Familia {
    background-image: url(); /* Asegúrate de agregar la URL correcta */
    background-size: cover;
    animation-delay: 7s;
}

#Familia:hover {
    scale: 2;
    box-shadow: 0px 0px 10px #00ff0dc9;
}  

.hobbies__title{
    color: #00ff0dc9;
    margin-left: 165px;
}

.hobbies__name{
    color: #ffffff;
}

.hobbies__line{
    display: flex;
}
.academic__courses{
    display: flex;

}

/*Sección Title*/

section.title{

}

/*Sección About*/

section.about{

}

/*Sección Hobbies*/

section.hobbies{
    
}

/* Experiencia Académica*/

section.academic{

}

.unedos{

}

.academic{
    margin: 20px;
    margin-left: 10%;
    border-radius: 10px;
    height: 50vh;
    width: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000a1;
}

.academic__title{
    margin: 15px;
    color: #00de07;
}

.tituloformacionacademica{
    color: rgb(135, 135, 135);
}

.parrafoformacionacademica{
    color: #ffffff;
}

/* experiencia*/

section.experience{

}

.experience{
    margin: 30px;
    margin-left: 10%;
    border-radius: 10px;
    height:55vh;
    width: 55vh;
    justify-content: center;
    align-items: center;
    background-color: #000000a1;
}

.casando{
display: flex;
}

.experience__img{
    margin-left: 15px;
}

.experience__title{
    margin-left: 15px;
    margin-top: 10px;
}

.experience__text{
    margin-left: 15px;
    margin-top: px;
}

.experience__botao--demo{
    margin-right: 15px;
}

/*Contacto*/

.formcontato__contacto{
    margin-left: 50px;
}

.formcontato__img{
    margin-left: 5px;
margin-top:15px;
margin-bottom: 5px;
   
}

.formcontato__text{
    margin: 0px;
}

.formcontato{
    margin: 0 auto;
    display: block;
    margin: px;
    border-radius: 10px;
    height: 95vh;
    width: 80vh;
    justify-content: center;
    align-items: center;
    background-color: #000000a1; 
}

.formcontato__title{
    margin: 5px;
    margin-left: 32%;
    
color: #00de07;
}

.formcontato__subtext{
color: #7f7f7f;
margin: 5px;
margin-left: 19%;
}

.formcontato__subtexte{
color: #ffffff;
margin: 5px;
}

.textformcolor{
    margin-top: 15px;
    color: #00de07;
}

.formcontato__form{
    
    margin: 5px;

}

.formcontato__input{
    margin: 3px;
    width: 87%;
}

.formcontato__textarea{
    margin-top: 3px;
    width: 87.5%;
}

.formcontato__botao{
    margin-top: 10px;
}

section.formcontato{

}

.formcontato__img{
    width: 30px;
    height: 30px;
}

.experience__section__title{
    margin: 15px;
    color: #00de07;
}

.experience__title{
color: #878787;
}

.experience__text{
color: #ffffff;
}
/*footeer*/

.footer{
    
}

section.footer{
    margin: 5px;
    border-radius: 15px;
    background-color: #000000a1;
    color: #ffffff;
    height: 80px;
}

.footerclas{
    margin-top: 20px;
    margin-left: 35%;
    padding: 15px;
}

.footerclass{
    margin-left: 48%;
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/

/*@media (min-width: 768px) {*/

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

/*}*/

/*Mobile*/
/*@media (min-width: 425px) {*/

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

/*}*/

@media screen and (max-width: 1200px) {
.menu{
    padding: 1px;
}

@media screen and (max-width: 720px) {
    
/*Menu*/

    .header{
        width: 240px;
        height: 20px;
        font-size: 11px;
    }

    .menu nav{
        border: solid 1px #00de07;
        position: fixed;
        top: 0;
        left: -320px;
        background: rgb(0, 0, 0);
        width: 320px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
        transition: all 300ms ease-in-out; /* Transición suave */
    }

    .menu ul{
        flex-direction: column;
        margin-top: 70px;
    }
    .menu ul li{
        
    }
    .menu ul li a{
     
    }
    .foto_menu{
        width: 60px;
        height: 60px;
        display: flex;
    }

    .cerrar_menu{
        margin-left: 120px;
        margin-right: 50px;
        width: 30px;
        height: 30px;
        display: flex;
    }

    #menu_hamburguesa{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background:rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition:all 300ms;
    }

    #menu_hamburguesa:hover{
        background:rgba(255, 255, 255, 0.2);
       
    }

    #cerrar_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background:rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition:all 300ms;
    }

    #cerrar_menu:hover{
        background:rgba(255, 255, 255, 0.2);
       
    }


    #Back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        display: none;

    }

/*Titulo*/

    .title{
        width: 45%;
        height: 100%;
    }

    .title__div{
        width: 85%;
        height: 50%;
    }

    .title__profile{
        height: 180px;
        width: 180px;        
        margin-left: 35px;
        margin-top: 70px;
        clip-path: circle(89px at center);
    }

    .title__container{
        width: 90%;
        height: 50%;
        margin-left: 5px;
        margin-top: 10px;
    }

    .title__bio{
        margin-left: 0px;
        margin-top: 0px;
        font-size: 16px;                      
    }

    .title__subsection{
        margin-left: 0px;
        margin-top: 0px;
        font-size: 14px;                      
    }

    .title__network{
        margin-left: 0px;
        margin-top: 0px;
        font-size: 14px;                      
    }

    .title__network__item{
        margin-left: 0px;
        margin-top: 0px;
        font-size: 14px;                      
    }

    .divune{
        display: flex;
        flex-direction: column;
    }
}
}